com-example-samplelibrary-google-map-design {
  span {
    font-size: 150px;
    color: $black;
    display: block;
    text-align: center;
  }
}

com-example-samplelibrary-google-map {
  .default-size {
    width: 400px;
    height: 400px;
  }
}